/* ブラウザで設定されているスタイルのリセット・共通設定 */
/* 消さないでください */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.MyPage {
  display: flex;
  height: 100vh;
}
aside {
  width: 256px;
  flex-shrink: 0;
  background-color: #f5f5f5;
  border-right: 1px #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  padding: 20px;
  border-bottom: 1px #e0e0e0;
}
a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4f7cac;
  display: flex;
  align-items: center;
  gap: 80px;
  text-decoration: none;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
}
/* スタイルのリセット終了 */

/* サイドバーとメインコンテンツを包むための要素のスタイルを書いてください */


/* サイドバーに関連するスタイルを書いてください */


/* メインコンテンツに関連するスタイルを書いてください */



